.mainContainer{

    width: 900px;
    background-color: blue;
}

body{
    
    background-color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "LeftSideBar CenterArea RightSideBar" "LeftSideBar CenterArea RightSideBar" "LeftSideBar CenterArea RightSideBar";
    border: 1px solid black;
  }
  
  .LeftSideBar {
      grid-area: LeftSideBar;
    
    }
  
  .CenterArea { grid-area: CenterArea; }
  
  .RightSideBar { grid-area: RightSideBar; }
